In [1]:
import numpy as np

import pandas as pd
import os
import ast

# 加载数据

In [2]:
data_root_path='d:/Data/CUB/CUB_200_2011/'

In [3]:
os.listdir(data_root_path)

['attributes',
 'bounding_boxes.txt',
 'classes.txt',
 'images',
 'images.txt',
 'image_class_labels.txt',
 'parts',
 'README',
 'train_test_split.txt']

In [4]:
images_id_file=data_root_path+'images.txt'
image_class_labels=data_root_path+'image_class_labels.txt'
train_test_split=data_root_path+'train_test_split.txt'
bbox_file=data_root_path+'bounding_boxes.txt'

# 初始化csv

In [5]:
with open(images_id_file,'r') as f:
    lines=f.readlines()

image_id=[]
img_path=[]
for line in lines:
    id,path=line.strip().split(' ')
    image_id.append(id)
    img_path.append(path)

In [6]:
data_csv=pd.DataFrame(data={'id':image_id,'path':img_path})

In [7]:
data_csv['path']='images/'+data_csv['path']

In [8]:
data_csv.head()

  id                                               path
0  1  images/001.Black_footed_Albatross/Black_Footed...
1  2  images/001.Black_footed_Albatross/Black_Footed...
2  3  images/001.Black_footed_Albatross/Black_Footed...
3  4  images/001.Black_footed_Albatross/Black_Footed...
4  5  images/001.Black_footed_Albatross/Black_Footed...

# 添加label

In [9]:
with open(image_class_labels,'r') as f:
    lines=f.readlines()

labels={}
for line in lines:
    id,cls=line.strip().split(' ')
    labels[id]=int(cls)
    
csv_labels=[]
for index in data_csv.index:
    id=data_csv.loc[index]['id']
    csv_labels.append(labels[id])

In [12]:
data_csv['cls']=csv_labels

In [14]:
data_csv['cls']=data_csv['cls']-1

In [15]:
data_csv.head()

  id                                               path  cls
0  1  images/001.Black_footed_Albatross/Black_Footed...    0
1  2  images/001.Black_footed_Albatross/Black_Footed...    0
2  3  images/001.Black_footed_Albatross/Black_Footed...    0
3  4  images/001.Black_footed_Albatross/Black_Footed...    0
4  5  images/001.Black_footed_Albatross/Black_Footed...    0

# 添加bbox

In [16]:
with open(bbox_file,'r') as f:
    lines=f.readlines()
    
bbox_dict={}
for line in lines:
    item=line.strip().split(' ')
    id=item[0]
    bbox=' '.join(item[1:])
    bbox_dict[id]=bbox
    
bbox=[]
for index in data_csv.index:
    id=data_csv.loc[index]['id']
    bbox.append(bbox_dict[id])

In [17]:
data_csv['bbox']=bbox

In [18]:
data_csv.head()

,id,path,cls,bbox
0,1,images/001.Black_footed_Albatross/Black_Footed...,0,60.0 27.0 325.0 304.0
1,2,images/001.Black_footed_Albatross/Black_Footed...,0,139.0 30.0 153.0 264.0
2,3,images/001.Black_footed_Albatross/Black_Footed...,0,14.0 112.0 388.0 186.0
3,4,images/001.Black_footed_Albatross/Black_Footed...,0,112.0 90.0 255.0 242.0
4,5,images/001.Black_footed_Albatross/Black_Footed...,0,70.0 50.0 134.0 303.0

# 添加split

In [19]:
with open(train_test_split,'r') as f:
    lines=f.readlines()

split_dict={}
for line in lines:
    id,is_train=line.strip().split(' ')
    split_dict[id]=int(is_train)

split_list=[]
for index in data_csv.index:
    id=data_csv.loc[index]['id']
    split_list.append(split_dict[id])

In [20]:
data_csv['is_train']=split_list

In [21]:
data_csv.head()

,id,path,cls,bbox,is_train
0,1,images/001.Black_footed_Albatross/Black_Footed...,0,60.0 27.0 325.0 304.0,0
1,2,images/001.Black_footed_Albatross/Black_Footed...,0,139.0 30.0 153.0 264.0,1
2,3,images/001.Black_footed_Albatross/Black_Footed...,0,14.0 112.0 388.0 186.0,0
3,4,images/001.Black_footed_Albatross/Black_Footed...,0,112.0 90.0 255.0 242.0,1
4,5,images/001.Black_footed_Albatross/Black_Footed...,0,70.0 50.0 134.0 303.0,1

# 保存

In [22]:
data_csv.to_csv('../save/data/data.csv',index=False)