In [1]:
import numpy as np
import os
import pandas as pd
from tqdm import tqdm_notebook as tqdm
from xml.dom import minidom

In [2]:
img_dir='../../../../Data/VOCdevkit/VOC2012/JPEGImages/'
class_label_dir='../../../../Data/VOCdevkit/VOC2012/ImageSets/Main/'
anotation_dir='../../../../Data/VOCdevkit/VOC2012/Annotations/'
seg_class_dir='../../../../Data/VOCdevkit/VOC2012/SegmentationClass/'
seg_obj_dir='../../../../Data/VOCdevkit/VOC2012/SegmentationObject/'

## 找到图像对应的label

In [71]:
categories=[]
for root,dirs,files in os.walk(class_label_dir):
    for file in files:
        if 'trainval' in file and '_' in file:
            categories.append(file.split('_')[0])

In [72]:
categories

['dog',
 'sofa',
 'bicycle',
 'aeroplane',
 'pottedplant',
 'car',
 'horse',
 'bird',
 'bottle',
 'cow',
 'cat',
 'tvmonitor',
 'person',
 'train',
 'boat',
 'diningtable',
 'sheep',
 'chair',
 'motorbike',
 'bus']

In [73]:
img_with_label={}
for i in range(len(categories)):
    cate=class_label_dir+categories[i]+'_trainval.txt'
    with open(cate,'r') as f:
        data=f.readlines()
        
        for line in data:
            items=line.split(' ')
            if items[0] in img_with_label.keys():
                if int(items[-1])==-1:
                    img_with_label[items[0]][i]=0
                else:
                    img_with_label[items[0]][i]=1
            else:
                img_with_label[items[0]]=[-1 for _ in range(20)]
                if int(items[-1])==-1:
                    img_with_label[items[0]][i]=0
                else:
                    img_with_label[items[0]][i]=1

# Create Dataframe for all imgs

In [74]:
imgs=[]
for root,dirs,files in os.walk(img_dir):
    for file in files:
        imgs.append(file.split('.')[0])

In [75]:
img_classes=[]
for img in imgs:
    if img in img_with_label.keys():
        img_classes.append(img_with_label[img])
    else:
        img_classes.append(np.nan)

In [76]:
img_bbox=[]
img_bbox_label=[]
for img in tqdm(imgs):
    if os.path.exists(anotation_dir+img+'.xml'):
        single_img_bbox=[]
        single_bbox_label=[]
        
        mydoc = minidom.parse(anotation_dir+img+'.xml')
        root=mydoc.documentElement
        
        items = root.getElementsByTagName('object')
        for item in items:
            single_bbox=[]
            name=item.getElementsByTagName('name')[0].firstChild.data
            bbox=item.getElementsByTagName('bndbox')[0]

            for b in bbox.childNodes:
                if b.nodeType==1:
                    single_bbox.append(b.firstChild.data)
                    
            single_img_bbox.append(single_bbox)
            single_bbox_label.append(name)
        
        img_bbox.append(single_img_bbox)
        img_bbox_label.append(single_bbox_label)
    else:
        img_bbox.append(np.nan)
        img_bbox_label.append(np.nan)

HBox(children=(IntProgress(value=0, max=17125), HTML(value='')))

In [77]:
img_seg_class=[]
for img in tqdm(imgs):
    if os.path.exists(seg_class_dir+img+'.png'):
        img_seg_class.append(1)
    else:
        img_seg_class.append(np.nan)

HBox(children=(IntProgress(value=0, max=17125), HTML(value='')))

In [78]:
img_seg_obj=[]
for img in tqdm(imgs):
    if os.path.exists(seg_obj_dir+img+'.png'):
        img_seg_obj.append(1)
    else:
        img_seg_obj.append(np.nan)

HBox(children=(IntProgress(value=0, max=17125), HTML(value='')))

In [79]:
data_csv=pd.DataFrame({'img_name':imgs})

In [80]:
data_csv['img_class']=img_classes

In [81]:
data_csv['img_bbox']=img_bbox

In [82]:
data_csv['seg_class']=img_seg_class

In [83]:
data_csv['seg_obj']=img_seg_obj

In [84]:
data_csv['bbox_label']=img_bbox_label

In [85]:
data_csv.head()

,img_name,img_class,img_bbox,seg_class,seg_obj,bbox_label
0,2010_004157,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...","[[499, 1, 293, 19]]",NaN,NaN,[cat]
1,2012_003811,NaN,"[[56, 11, 277, 151]]",NaN,NaN,[person]
2,2007_007048,NaN,"[[227, 55, 500, 324], [82, 56, 245, 257], [76,...",1.0,1.0,"[sheep, sheep, bottle, person, person, person,..."
3,2012_001460,NaN,"[[230, 142, 229, 53]]",NaN,NaN,[person]
4,2008_006392,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[1, 228, 95, 343], [77, 198, 101, 266], [127,...",NaN,NaN,"[car, person, person, person, person]"

## delete len(img_bbox)!= img_class

In [86]:
def return_one(arr):
    res=0
    for i in arr:
        if i==1:
            res+=1
    
    return res

In [88]:
del_index=[]
for index in data_csv.index:
    if type(data_csv.at[index,'img_class'])==type([1,2,3]) and type(data_csv.at[index,'bbox_label'])==type(['a']):
        if return_one(data_csv.at[index,'img_class'])!=len(set(data_csv.at[index,'bbox_label'])):
            del_index.append(index)

In [90]:
len(del_index)

0

In [104]:
data_csv.to_csv('data.csv',index=False)

In [102]:
sea_index=[]
for index in data_csv.index:
    if type(data_csv.at[index,'img_class'])==type([1,2,3]):
        if data_csv.at[index,'img_class'][12]==1:
            sea_index.append(index)

In [103]:
data_csv.loc[sea_index]

,img_name,img_class,img_bbox,seg_class,seg_obj,bbox_label
4,2008_006392,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[1, 228, 95, 343], [77, 198, 101, 266], [127,...",NaN,NaN,"[car, person, person, person, person]"
6,2008_006014,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, ...","[[199, 175, 283, 194], [251, 169, 272, 188], [...",NaN,NaN,"[boat, person, person, person, person, person]"
8,2011_000888,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[435, 11, 290, 64], [369, 332, 177, 144]]",1.0,1.0,"[bus, person]"
10,2008_003447,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[118, 82, 393, 366], [204, 129, 283, 374]]",NaN,NaN,"[horse, person]"
11,2008_002115,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[21, 21, 262, 340], [231, 1, 500, 319]]",NaN,NaN,"[person, motorbike]"
15,2009_004677,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...","[[472, 1, 336, 92], [500, 488, 210, 155], [487...",NaN,NaN,"[train, person, person]"
25,2008_002787,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[35, 170, 231, 375], [58, 26, 206, 325], [358...",NaN,NaN,"[bicycle, person, person, bicycle]"
32,2008_001083,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[204, 107, 267, 168], [21, 138, 204, 333], [8...",NaN,NaN,"[person, person, person, person, person, chair..."
33,2008_006611,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[419, 190, 500, 343], [1, 183, 157, 343], [16...",NaN,NaN,"[chair, chair, chair, chair, diningtable, pers..."
35,2009_003266,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[491, 313, 332, 31], [317, 152, 332, 55], [18...",NaN,NaN,"[person, person, person, person, person, perso..."
39,2009_003499,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[430, 234, 328, 207], [206, 105, 316, 42], [2...",NaN,NaN,"[dog, person, person]"
42,2009_001909,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[283, 4, 500, 126], [40, 1, 289, 252]]",NaN,NaN,"[person, person]"
46,2008_000132,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[431, 106, 474, 253], [39, 111, 81, 262], [1,...",NaN,NaN,"[person, person, bus]"
48,2010_001131,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, ...","[[375, 1, 500, 336], [296, 1, 357, 1], [352, 2...",1.0,1.0,"[diningtable, person, bottle]"
53,2009_004502,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[415, 51, 292, 106], [342, 161, 220, 54]]",NaN,NaN,"[motorbike, person]"
59,2011_001679,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, ...","[[440, 137, 282, 125], [153, 100, 274, 158]]",NaN,NaN,"[cow, person]"
62,2008_008098,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[1, 105, 500, 306], [322, 18, 500, 365], [119...",NaN,NaN,"[diningtable, person, person, chair, chair, ch..."
66,2009_000145,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[241, 118, 279, 73], [443, 318, 274, 189]]",NaN,NaN,"[person, dog]"
71,2011_001826,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[496, 329, 208, 85], [377, 158, 264, 168], [3...",NaN,NaN,"[bus, car, person, person, person, person, per..."
75,2008_002099,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[457, 95, 488, 188], [190, 184, 284, 333], [2...",NaN,NaN,"[person, person, person]"
79,2008_000636,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[62, 156, 213, 426], [62, 14, 257, 426], [1, ...",NaN,NaN,"[person, person, sofa]"
89,2011_001845,"[0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, ...","[[499, 409, 188, 70], [254, 233, 144, 88], [49...",NaN,NaN,"[pottedplant, bottle, sofa, person, person, pe..."
90,2011_000370,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[267, 108, 403, 109], [273, 105, 256, 60]]",NaN,NaN,"[horse, person]"
99,2009_003043,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, ...","[[230, 208, 271, 188], [231, 47, 331, 55], [74...",1.0,1.0,"[boat, boat, boat, person]"
102,2008_008279,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[1, 41, 315, 500], [405, 82, 451, 194]]",NaN,NaN,"[horse, person]"
105,2008_002662,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[38, 1, 352, 288]]",NaN,NaN,[person]
106,2010_005118,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[420, 40, 339, 85], [210, 155, 365, 182], [19...",1.0,1.0,"[bus, person, person]"
107,2009_004782,"[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[500, 1, 375, 90], [256, 1, 366, 219], [441, ...",NaN,NaN,"[sofa, dog, person]"
108,2010_003156,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, ...","[[360, 343, 231, 198], [447, 425, 234, 193], [...",NaN,NaN,"[person, person, boat]"
110,2011_001530,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, ...","[[312, 269, 270, 210], [273, 226, 268, 211], [...",1.0,1.0,"[cow, cow, cow, cow, cow, cow, person, person,..."
...,...,...,...,...,...,...
17001,2011_001060,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...","[[195, 1, 279, 1], [390, 293, 305, 61], [295, ...",1.0,1.0,"[train, person, person, person, person]"
17010,2008_000367,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[344, 67, 500, 357], [1, 1, 500, 357]]",NaN,NaN,"[person, aeroplane]"
17011,2008_000645,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[64, 19, 261, 240]]",1.0,1.0,[person]
17014,2008_003249,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[430, 134, 456, 200], [216, 138, 246, 200], [...",NaN,NaN,"[person, person, person, person, motorbike, pe..."
17018,2008_005094,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, ...","[[7, 168, 94, 235], [154, 184, 316, 371], [110...",NaN,NaN,"[tvmonitor, person, bottle]"
17020,2011_001023,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[296, 85, 333, 23], [172, 3, 333, 58], [481, ...",NaN,NaN,"[chair, chair, person, chair]"
17021,2009_001443,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[464, 388, 251, 139], [392, 255, 297, 208]]",1.0,1.0,"[person, motorbike]"
17023,2008_003409,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[229, 17, 500, 375]]",NaN,NaN,[person]
17027,2010_004370,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[281, 93, 232, 6], [323, 81, 96, 1]]",1.0,1.0,"[dog, person]"
17028,2009_004738,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[493, 210, 231, 64], [447, 326, 193, 24]]",1.0,1.0,"[motorbike, person]"
17031,2008_007261,"[0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, ...","[[1, 59, 500, 375], [156, 92, 208, 260], [218,...",NaN,NaN,"[diningtable, bottle, person, person, chair, p..."
17037,2010_003143,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[188, 1, 268, 158], [289, 183, 277, 153], [24...",NaN,NaN,"[sofa, chair, chair, chair, person]"
17040,2011_001842,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[498, 374, 375, 293], [126, 1, 375, 248], [36...",NaN,NaN,"[chair, chair, diningtable, person, person, pe..."
17041,2009_000169,"[0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[459, 12, 316, 54], [55, 1, 319, 228], [419, ...",NaN,NaN,"[horse, person, person, person, person, horse,..."
17043,2008_003722,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, ...","[[232, 151, 299, 287], [80, 203, 146, 343], [6...",NaN,NaN,"[bottle, bottle, person]"
17044,2008_002813,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[24, 21, 278, 378], [269, 12, 484, 378]]",NaN,NaN,"[person, person]"
17054,2008_003677,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[216, 52, 315, 221], [68, 83, 403, 301]]",NaN,NaN,"[person, horse]"
17067,2008_006881,"[0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, ...","[[36, 171, 118, 357], [391, 202, 500, 354], [1...",NaN,NaN,"[pottedplant, pottedplant, pottedplant, person..."
17072,2009_000322,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[375, 54, 426, 26]]",NaN,NaN,[person]
17079,2008_001491,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[17, 73, 447, 258]]",1.0,1.0,[person]
17083,2008_005324,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, ...","[[318, 80, 367, 255], [86, 200, 101, 249], [39...",NaN,NaN,"[bottle, bottle, person, person]"
17085,2010_001762,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[312, 148, 375, 114], [466, 361, 173, 26], [2...",NaN,NaN,"[person, person, person]"
17088,2008_001419,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[8, 168, 147, 336], [106, 198, 255, 335], [22...",NaN,NaN,"[person, person, person, person]"
17094,2011_000851,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[248, 55, 500, 235]]",NaN,NaN,[person]
17097,2010_004672,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[362, 210, 238, 156], [213, 107, 262, 44]]",NaN,NaN,"[dog, person]"
17102,2008_006816,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[124, 1, 479, 201], [67, 63, 500, 478], [181,...",NaN,NaN,"[pottedplant, person, person, person]"
17104,2010_003185,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[500, 276, 339, 23]]",NaN,NaN,[person]
17116,2008_000748,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[1, 91, 202, 480], [174, 1, 489, 480]]",NaN,NaN,"[person, person]"
17122,2008_000795,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, ...","[[1, 82, 232, 332], [187, 94, 323, 332], [291,...",1.0,1.0,"[person, person, person, bottle]"
17124,2008_001858,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, ...","[[216, 169, 286, 226], [233, 157, 247, 173], [...",NaN,NaN,"[boat, person, person]"

In [105]:
improved_img_class=[]
for index in data_csv.index:
    if type(data_csv.loc[index,'img_class'])!=type([1,2,3]):
        if type(data_csv.loc[index,'bbox_label'])==type(['a']):
            cate_arr=[]
            
            classes=set(data_csv.loc[index,'bbox_label'])
            for cate in categories:
                if cate in classes:
                    cate_arr.append(1)
                else:
                    cate_arr.append(0)
        improved_img_class.append(cate_arr)
    
    else:
        improved_img_class.append(data_csv.loc[index,'img_class'])

In [106]:
len(improved_img_class)

17125

In [107]:
data_csv['img_class']=improved_img_class

In [108]:
data_csv.head()

,img_name,img_class,img_bbox,seg_class,seg_obj,bbox_label
0,2010_004157,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...","[[499, 1, 293, 19]]",NaN,NaN,[cat]
1,2012_003811,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[56, 11, 277, 151]]",NaN,NaN,[person]
2,2007_007048,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, ...","[[227, 55, 500, 324], [82, 56, 245, 257], [76,...",1.0,1.0,"[sheep, sheep, bottle, person, person, person,..."
3,2012_001460,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[230, 142, 229, 53]]",NaN,NaN,[person]
4,2008_006392,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[[1, 228, 95, 343], [77, 198, 101, 266], [127,...",NaN,NaN,"[car, person, person, person, person]"

In [109]:
data_csv.to_csv('improved_data.csv',index=False)

In [111]:
len(data_csv[data_csv['seg_class'].isnull() & data_csv['img_class'].isnull()])

0

# 切分图像

In [3]:
data_csv=pd.read_csv('improved_data.csv')

In [4]:
data_csv.head()

,img_name,img_class,img_bbox,seg_class,seg_obj,bbox_label
0,2010_004157,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...","[['499', '1', '293', '19']]",NaN,NaN,['cat']
1,2012_003811,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[['56', '11', '277', '151']]",NaN,NaN,['person']
2,2007_007048,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, ...","[['227', '55', '500', '324'], ['82', '56', '24...",1.0,1.0,"['sheep', 'sheep', 'bottle', 'person', 'person..."
3,2012_001460,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[['230', '142', '229', '53']]",NaN,NaN,['person']
4,2008_006392,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[['1', '228', '95', '343'], ['77', '198', '101...",NaN,NaN,"['car', 'person', 'person', 'person', 'person']"

In [5]:
class_seg_data=data_csv[data_csv['seg_class'].notnull()]

In [6]:
obj_seg_data=data_csv[data_csv['seg_obj'].notnull()]

In [11]:
(obj_seg_data.index==class_seg_data.index).all()==True

True

In [12]:
class_only_data=data_csv.drop(class_seg_data.index)

In [13]:
class_only_data.head()

,img_name,img_class,img_bbox,seg_class,seg_obj,bbox_label
0,2010_004157,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...","[['499', '1', '293', '19']]",NaN,NaN,['cat']
1,2012_003811,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[['56', '11', '277', '151']]",NaN,NaN,['person']
3,2012_001460,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[['230', '142', '229', '53']]",NaN,NaN,['person']
4,2008_006392,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[['1', '228', '95', '343'], ['77', '198', '101...",NaN,NaN,"['car', 'person', 'person', 'person', 'person']"
5,2010_001979,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[['395', '123', '265', '88']]",NaN,NaN,['aeroplane']

In [14]:
class_seg_data.to_csv('class_seg_data.csv',index=False)
obj_seg_data.to_csv('obj_seg_data.csv',index=False)
class_only_data.to_csv('class_only_data.csv',index=False)